
extends ../layout

block content
  .page-header
    h1 Button Examples

  .panel.panel-default
    .panel-heading
      span Click "Why we need this" to display a dialog modal
    .panel-body
      p#email-label Some text
      .form-group
        .input-group
          button.form-control

block scripts
  script(src="index.js")

block styles
  link(rel="stylesheet" href="index.css")
