
@require '../global'

.hidden
  display none

.bold
  font-weight 600

.block
  display block

#character-input
  width 300px
  padding 0.3em 0.5em

.listbox-container
  position relative

  ul
    position absolute
    width 100%
    background-color #fff
    padding .5em
    border 1px solid #ccc

    li
      padding .2em .5em
      &.selected
        background-color #eee
