
extends ../layout

block vars
  - var heading = 'Auto Complete'

block content
  .panel.panel-default
    .panel-heading
      h2 Example: Auto Complete
    
    .panel-body
      p TODO
      //- a(href="#before") Before
      
      //- form
        //- label(for="character-input") Favorite Seinfeld Character
        //- .input-group
          //- input#character-input(type="text")
    
      //- a(href="#after") After

block scripts
  //- script(src="index.js")

block styles
  link(rel="stylesheet" href="index.css")
