
@require '../global'

.error-summary
  margin-bottom 1em
  padding 1em
  border 1px solid #ccc
  background-color #eee

  span
    margin-right .5em

.field
  margin-bottom 1em

  .error
    margin-bottom .5em
    color #df0000

  label
    display block
