
GREY = #555358
ORANGE = #FC440F
BROWN = #786F52
GREEN = #587D71
SAND = #D7D9B1

html
  font-family Helvetica, sans-serif

body
  padding 10px

ul
  margin 0
  padding 0
  list-style none

*:focus
  outline-width 1px

.panel-heading
  h1, h2, h3, h4, h5, h6
    margin 0.1em
