
extends layout

block vars
  - var heading = 'Accessibility Examples'

block resources
  script(src="jquery.min.js")
  script(src="jquery-ui.min.js")

block content
  .panel.panel-default
    .panel-heading
      h2 Design Patterns
    
    .panel-body
      p
        span Examples of the design patterns outlined in#{' '}
        a(href="http://www.w3.org/TR/wai-aria-practices/#aria_ex") WAI-ARIA 1.0 Authoring Practices: Design Patterns

      ul.list-group
        li.list-group-item: a(href="accordion/index.html") Accordion
        li.list-group-item: a(href="alert/index.html") Alert
        li.list-group-item: a(href="alertdialog/index.html") Alert Dialog
        li.list-group-item: a(href="button/index.html") Button
        li.list-group-item: a(href="dialog-modal/index.html") Dialog Modal
        li.list-group-item: a(href="menu/index.html") Menu
        li.list-group-item: a(href="tabpanel/index.html") Tabpanel

block styles
  link(rel="stylesheet" href="global.css")
