doctype html
html(lang="en")
  head
    meta(charset="utf=8")
    title A11y Examples
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    block styles
  body
    block content
    block scripts