doctype html
html(lang="en")
  head
    block vars
    meta(charset="utf=8")
    title A11y Examples

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")

    block resources
      script(src="../jquery.min.js")
      script(src="../jquery-ui.min.js")
    block styles

  body
    #content-wrapper
      .page-header
        h1 #{heading}
      block content
      #source
    block scripts
