
extends ../layout

block vars
  - var heading = 'Dialog Modal'

block content
  .panel.panel-default
    .panel-heading
      h2 Example: Message Dialog

    .panel-body
      .form-group
        .btn-group
          button.btn.btn-default Learn About Message Dialogs

block scripts
  script(src="index.js")

block styles
  link(rel="stylesheet" href="index.css")
