
extends ../layout

block content
  .page-header
    h1 Dialog Modal

  #ex-basic.panel.panel-default

    .panel-heading
      h2 Example: Message Dialog

    .panel-body
      .form-group
        .btn-group
          button.btn.btn-default Learn About Message Dialogs

block scripts
  script(src="index.js")

block styles
  link(rel="stylesheet" href="index.css")
